html,
body,
#root {
  padding: 0;
  margin: 0;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.center {
  width: 100%;
  height: 45vh;
  position: relative;
  justify-items: center;
  vertical-align: middle;
  align-content: center;
}

.movie__title {
  font-size: 3rem;
}
.movie__detail .movie__year {
  font-size: 25px;
}

.movie__detail .img {
  position: center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__descriptions {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.movie__detail .synopsis {
  font-size: 20px;
  margin: 0;
}

.movie__detail .movie__genres {
  list-style: none;
  font-style: 30px;
  padding: 5px;
  margin: 0;
  display: flex;
  margin: 5px 0px;
  flex-flow: row wrap;
}

.info {
  align-items: center;
}

.info .info__title {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
}
.info .info__content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 25px;
}

@media only screen and (max-width: 425px) {
  .movie__title {
    font-size: 2rem;
  }
  .movie__detail .movie__year {
    font-size: 15px;
  }
  .center {
    width: 100%;
    height: 43vh;
    position: relative;
    justify-items: center;
    vertical-align: middle;
    align-content: center;
  }
  .movie__detail .movie__descriptions {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .movie__detail .synopsis {
    font-size: 13px;
  }
  .movie__detail .movie__genres {
    font-size: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 5px 0px;
    flex-flow: row wrap;
  }

  .info .info__title {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 10px;
  }
  .info .info__content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .movie__title {
    font-size: 1rem;
  }
  .movie__detail .movie__year {
    font-size: 8px;
  }
  .center {
    width: 100%;
    height: 22vh;
    position: relative;
    justify-items: center;
    vertical-align: middle;
    align-content: center;
  }
  .movie__descriptions {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .movie__detail .synopsis {
    font-size: 10px;
  }
  .movie__detail .movie__genres {
    font-size: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 5px 0px;
    flex-flow: row wrap;
  }

  .info .info__title {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 5px;
  }
  .info .info__content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 8px;
  }
}
