.movie__sort {
  padding-top: 7vh;
  border: none;
  padding-left: 40px;
  justify-content: end;
}

#genres {
  border: solid #d0e8ff 1px;
  font-size: large;
  background-color: white;
}

.container {
  padding-top: 5vh;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.no__movies {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 25%;
  font-weight: 300;
  font-size: 20px;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 80%;
}

@media only screen and (max-width: 425px) {
  .container {
    padding-top: 3vh;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #genres {
    border: solid #d0e8ff 1px;
    font-size: medium;
    background-color: white;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    padding-top: 2vh;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #genres {
    border: solid #d0e8ff 1px;
    font-size: small;
    background-color: white;
  }
}
